<header class="navbar navbar-header navbar-header-fixed">
    <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
    <div class="navbar-brand">
        <a href="" class="df-logo tr-logo"><img src="assets/img/logo.png"></a>
    </div>
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="" class="df-logo tr-logo"><img src="assets/img/logo.png"></a>
            <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div>
        <ul class="nav navbar-menu">
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
            <li class="nav-item with-sub active" routerLinkActive="active">
                <a href="" class="nav-link"><i data-feather="pie-chart"></i> Applications</a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item">
                        <a href="" class="nav-sub-link">
                            <i data-feather="bar-chart-2"></i> Tracking
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-right">
        <div class="dropdown dropdown-profile">
            <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
                <div class="avatar avatar-sm">
                    <img src="assets/img/user.png" class="rounded-circle">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right tx-13">
                <div class="avatar avatar-lg mg-b-15 mx-auto">
                    <img src="assets/img/user.png" class="rounded-circle">
                </div>
                <h6 class="tx-semibold mg-b-5 text-center">User</h6>
                <p class="mg-b-25 tx-12 tx-color-03 text-center">Administrator</p>

                <a href="" class="dropdown-item"><i data-feather="log-out"></i> Sign Out</a>
            </div>
        </div>
    </div>
</header>