<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Tracking</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Applications</li>
            <li class="breadcrumb-item active" aria-current="page">Tracking</li>
        </ol>
    </nav>
</div>
<div class="form-inline justify-content-center pd-y-120">
    <input type="text" class="form-control form-control-lg" placeholder="Please input baggage ID">
    <button class="btn btn-lg btn-primary mg-sm-l-5 mg-t-10 mg-sm-t-0" (click)="refresh()">Search</button>
</div>
<div class="d-flex justify-content-center" *ngIf="showTimeline">
    <div>
        <h6 class="mg-l-55 tx-primary">1 January 2020</h6>
        <ul class="activity tx-13">
            <li class="activity-item">
                <div class="activity-icon bg-primary-light tx-primary">
                    <i data-feather="clock"></i>
                </div>
                <div class="activity-body">
                    <p class="mg-b-2"><strong>Louise</strong> added a time entry to the ticket <a href=""
                            class="link-02"><strong>Sales Revenue</strong></a></p>
                    <small class="tx-color-03">13:20 (2 hours ago)</small>
                </div>
            </li>
            <li class="activity-item">
                <div class="activity-icon bg-success-light tx-success">
                    <i data-feather="paperclip"></i>
                </div>
                <div class="activity-body">
                    <p class="mg-b-2"><strong>Kevin</strong> added new attachment to the ticket <a href=""
                            class="link-01"><strong>Software Bug Reporting</strong></a></p>
                    <small class="tx-color-03">13:20 (2 hours ago)</small>
                </div>
            </li>
            <li class="activity-item">
                <div class="activity-icon bg-warning-light tx-orange">
                    <i data-feather="share"></i>
                </div>
                <div class="activity-body">
                    <p class="mg-b-2"><strong>Natalie</strong> reassigned ticket <a href=""
                            class="link-02"><strong>Problem
                                installing software</strong></a> to
                        <strong>Katherine</strong></p>
                    <small class="tx-color-03">13:20 (2 hours ago)</small>
                </div>
            </li>
        </ul>
    </div>
</div>